{{extend 'layout.html'}}

<section class="main-content">
    <article>
    	<header>
    		<hr>
    		{{ if members: }}
    			<h2>{{=T('Members Eliminated')}}</h2>
    			<br>
    		{{pass}}
    	</header>

    	<div>
			{{ if members: }}
			<ul class="main-member-list">
	    		{{for member in members:}}
	    			<li><a href="#">{{=T( 'Name: %(name)s, Age: %(age)s' % (member) )}}</a></li>
	    		{{pass}}
			</ul>
			{{ elif len(members) == 0: }}
				<p>{{=T('No member disposed')}}</p>
			{{pass}}
    	</div>

    	<footer>
    		<hr>
    	</footer>
    </article>
</section>