{{extend 'layout.html'}}

<section class="main-content">
  {{ if members: }}
    <article>
    	<header>
    		<hr>
    		<h2>{{=T('Members')}}</h2>
    		<br>
    	</header>

    	<div>
    		<ul class="main-member-list">
	    		{{for member in members:}}
	    			<li><a href="{{=URL('member', 'profile', args=[member.id])}}">{{=T( 'Name: %(name)s, Age: %(age)s' % (member) )}}</a></li>
	    		{{pass}}
    		</ul>
    	</div>

    	<footer>
    		<hr>
    	</footer>
    </article>
  {{pass}}
</section>