{{extend 'layout.html'}}

<section class="main-content">
  {{ if votes and specs and votes.members: }}
    <article class="voting">
      <header>
        <hr>
        {{if now > specs['start'] and now > specs['end']:}}
          {{=P(T('Voting closed'), _class="voting-message" )}}
        {{pass}}
        
        {{if len( specs['id'] ) >= 2: }}
          <h2 class="vote-title"> {{=' X '.join( specs['title'] )}} </h2>
        {{else:}}
          <h2 class="vote-title"> {{=''.join( specs['title'] )}} </h2>
        {{pass}}

        <div class="holder-members-imgs">
          {{=XML(''.join( specs['avatar'] ))}}
        </div>
      </header>

      <footer>
        <div class="holder-controls">
          {{if len( specs['id'] ) >= 2: }}
            {{ for index in range( len( specs['id'] ) ): }}
              <a class="button" href="{{=URL('vote', 'index', args=[ votes['id'], specs['id'][index] ])}}">
                {{=T('Eliminate %s' % ( specs['title'][index] ) )}}
              </a>
            {{pass}}
          {{pass}}
        </div>
        <hr>
      </footer>
    </article>
  {{else:}}
    <article>
        <header>
            <hr>
            <p>{{=T('No polls.')}}</p>
        </header>
        <footer>
            <hr>
            {{=A( T('See members'), _href=URL( 'member', 'index' ) )}}
        </footer>
    </article>
  {{pass}}
</section>