/* Main style */
.main-content {

}

.main-content .voting header, .main-content .voting header p {
	text-align: center;
}

.main-content .voting header img {
	margin: 15px 10px;
}

.main-content .voting footer .holder-controls {
	margin: 0 auto;
	padding: 10px 180px 0 180px;
}

.main-content .voting footer .holder-controls a {
	margin: 0;
}

.main-content .voting footer .holder-controls a:first-child {
}

.main-content .voting footer .holder-controls a:last-child {
	float: right;
}